.entropy_bar {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 25%;
	padding: 2px;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	background: white;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

#elk_autov_pwmain_div + .entropy_bar {
	top: 6px;
}

.entropy_bar .full_strength {
	font-weight: bold;
	line-height: 1em;
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
	color: black;
	border-radius: 2px;
}

.entropy_bar .current_percent {
	z-index: 1;
	height: 1em;
	background-color: green;
}

#admin_content .entropy_bar, .register_form .entropy_bar {
	top: 5px;
	left: 6px;
}